<ion-modal-view >
  <ion-header-bar class="bar-dark">
    <h1 class="title">Help</h1>
    <button class="button button-clear" ng-click="closeModal(2)">Close</button>
  </ion-header-bar>
  <ion-content>
      <div class="padding">
          <p>Choose one or more <strong>achievable goals</strong> to concentrate on today. If you think you can only manage one simple goal today, that's ok. Just getting out of bed can be a huge achievement some days.</p>
          <p>We recommend not choosing more than 3 goals per day - you want to make sure you can complete everything! But if you're feeling confident, go for it!</p>
          <p><strong>Tap a goal</strong> to select it. When you've chosen all the goals you want to do today, tap <strong>submit</strong>.</p>
    </ion-content>
</ion-modal-view>
