<ion-view view-title="Today's goals:">
    <ion-content>
        <div ng-controller="GoalsCtrl">
            <div ng-repeat="goal in goals | filter:{ focus:1} track by goal.id">
                <div class="item item-stable item-icon-left item-text-wrap">
                    <i class="icon dark {{goal.icon}}"></i>
                    <h2>{{goal.title}}</h2>
                    <p>{{goal.description}}</p>
                </div>
            </div>
            
        </div>
    </ion-content>
</ion-view>