<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Help</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal(1)">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
      <p>We know that everyone's experience of depression is <strong>different</strong>, so icons can be <strong>interpreted</strong> however you find most helpful. If you're stuck, here are some <strong>ideas:</strong></p>
      <div class="list">
          <span class="item item-icon-left"><i class="icon icon-sun"></i>Happy - Hopeful</span>
          <span class="item item-icon-left"><i class="icon ion-umbrella"></i>Sad - Fearful</span>
          <span class="item item-icon-left"><i class="icon icon-grow"></i>Proud - Grateful</span>
          <span class="item item-icon-left"><i class="icon icon-wilt"></i>Ashamed - Disappointed</span>
          <span class="item item-icon-left"><i class="icon icon-wave"></i>Calm - Relaxed</span>
          <span class="item item-icon-left"><i class="icon ion-flash"></i>Angry - Frustrated - Tense</span>
          <span class="item item-icon-left"><i class="icon icon-light"></i>Active - Inspired</span>
          <span class="item item-icon-left"><i class="icon icon-sleep"></i>Passive - Bored - Numb</span>
        </div>
      <!--TODO
      <p>If a particular icon pair isn't helpful for you, you can turn it off in settings.</p>
    -->
  </ion-content>
</ion-modal-view>
