<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Help</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeHelpModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
      <p>Drag the sliders to let BlueBot know how you're feeling. The icons can be interpreted however you find most helpful, but if you're stuck, we have some ideas about how they could be used:</p>
      <div class="list">
          <span class="item item-icon-left"><i class="icon icon-sun"></i>Happy - Hopeful</span>
          <span class="item item-icon-left"><i class="icon ion-umbrella"></i>Sad - Fearful</span>
          <span class="item item-icon-left"><i class="icon icon-grow"></i>Proud - Grateful</span>
          <span class="item item-icon-left"><i class="icon icon-wilt"></i>Ashamed - Disappointed</span>
          <span class="item item-icon-left"><i class="icon icon-wave"></i>Calm - Relaxed</span>
          <span class="item item-icon-left"><i class="icon ion-flash"></i>Angry - Frustrated - Tense</span>
          <span class="item item-icon-left"><i class="icon icon-light"></i>Active - Inspired</span>
          <span class="item item-icon-left"><i class="icon icon-sleep"></i>Passive - Bored - Numb</span>
        </div>
    
  </ion-content>
</ion-modal-view>
