<ion-modal-view >
  <ion-header-bar class="bar-dark">
    <h1 class="title">Tutorial</h1>
    <button class="button button-clear" ng-click="skip(2)">Skip</button>
  </ion-header-bar>
  <ion-content>
      <div class="padding">
          <p><strong>Good job!</strong> This data has been added to a chart so you can view it later</p>
          <p>We're working on bringing you personalised goals to help improve your mood, but for now just tap <strong>skip</strong> to leave this tutorial</p>
          
          <!--<p>Let's set up some <strong>achieveable goals</strong> for today.</p>
          <p><strong>Goals</strong> can be as simple as getting out of bed, or as challenging as you'd like them to be. The important thing is to focus on doing <strong>just 3 things</strong> to help you feel a <strong>little better every day.</strong></p>
      </div>
      <div class="row">
            <a class="button icon-right ion-chevron-right button-energized col-offset-30" ng-click="closeModal(3)">Set today's Goals</a>
      </div>-->
    </ion-content>
</ion-modal-view>
