<ion-modal-view >
  <ion-header-bar class="bar-dark">
    <h1 class="title">Help</h1>
  </ion-header-bar>
  <ion-content ng-controller="StartCtrl">
      <div class="padding">
          <p>Welcome to BlueBot.</p>
          <p>Tap question marks for help if you get stuck</p>
          <p>Tap the orange button to continue:</p>
      </div>
      <div class="row">
            <button class="button button-dark button-outline col col-10 col-offset-20" ng-click="active=true"><i ng-class="{'icon ion-help': active==false, 'icon ion-checkmark': active==true}" ng-init="active=false"></i></button>
            <button class="button icon-right ion-chevron-right button-energized col col-40 col-offset-10" ng-click="closeNoDataModal()">Submit</button>
      </div>
    </ion-content>
</ion-modal-view>
